header {
  background: url(images/bobo2.JPG) 0 -200px no-repeat; /*place image as background*/
  background-size: 1200px;
  height: 400px; /*give header some height to display the background image*/
  padding-top: 100px;
  padding-left: 100px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
li {
  list-style-type: none;
  display: inline;
  padding: 0px 20px;
}
li a {
  text-decoration: none;
}
li a:link {
  color: #000;
}
li a:visited {
  color: #818db3;
}
li a:hover {
  color: rgb(63, 184, 103);
}
li a:active {
  color: #753a30;
}
nav {
  background-color: rgb(255, 245, 238);
  height: 50px;
  text-align: center;
  padding-top: 2px;
}
main {
  height: 400px;
}
main h1 {
  color: rgb(129, 141, 179);
  font-family: Arial, Helvetica, sans-serif;
}
main h2 {
  color: rgb(52, 106, 168);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main p {
  color: #333;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
main table caption {
  font-size: large;
  color: #5a70aa;
}
main table {
  color: #5a70aa;
  font-family: Arial, Helvetica, sans-serif;
}
section #cats .cat {
  display: inline-block;
  margin: 0 0.75em;
  padding: 1.3em 1.5em;
  background-color: #fff;
  border-radius: 50%;
}
section #cats .cat img {
  width: 200px;
  height: 300px;
}

footer {
  height: 40 px;
  background-color: rgb(255, 245, 238);
  text-align: center;
  padding-top: 20px;
  color: rgb(211, 218, 240);
}

footer #nondisclaimer .social {
  padding: 2.5em;
  margin-right: 9.25em;
  float: right;
}

footer #disclaimer {
  clear: both;
}

footer #disclaimer p {
  font-size: 0.85em;
  text-align: center;
}

footer #nondisclaimer .social .fa {
  padding: 15px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 0 4px;
  border-radius: 50%;
}

footer #nondisclaimer .social .fa:hover {
  opacity: 0.7;
}

footer #nondisclaimer .social .fa-facebook {
  background: #3b5998;
  color: white;
}

footer #nondisclaimer .social .fa-twitter {
  background: #55acee;
  color: white;
}

footer #nondisclaimer .social .fa-instagram {
  background: #125688;
  color: white;
}

main #album #photo img {
  position: relative;
  width: 400px;
  display: inline-block;
  border-radius: 10%;
}
main #album #catcaptions {
  position: relative;
  display: block;
  color: rgb(151, 43, 43);
  font-weight: bold;
  left: 100px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main #album #desc {
  position: relative;
  width: 50%;
  height: 100%; 
  align-content: center;
  text-align: center;
  opacity: 0;
  transition: 1s ease;
  cursor: pointer;
}

main #album #text{
  position: absolute;
  color: #44b422;
  font-family:'Times New Roman', Times, serif;
  padding: 10px;
  bottom:100px;
  left: 200px;
  font-size: 20px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
main #album #desc:hover{
    opacity: 80%;
}
main #infoBox {
    background-color: rgb(24, 179, 145);
    width: 50%;
    height: 250px;
    position :fixed;
    top: 100px;
    left :40%;
    visibility:hidden;
    color:white;
    opacity: 80%;
    border-radius: 10%;
}
main #infoBox #title{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

main #infoBox #info{
    font-size: 20px;
    text-align: center;
}

main #infoBox #closeTexts{
    color:rgb(24, 120, 209);
    padding-top: 1px;
    text-align: left;
    top:150px;
    font-size: 20px;
}
.lightbox-toggle {
    color: black;
}
  
.backdrop {
    z-index: 1;
    opacity: .0;
    filter: alpha(opacity=0);
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
}
.box {
    z-index: 2;
    position: fixed;
    opacity: 1;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #444444;
    -webkit-box-shadow: 0px 0px 5px #444444;
    box-shadow: 0px 0px 5px #444444;
}

* {
    z-index: 3;
}

.close {
    float: right;
    cursor: pointer;
}

#gallery #photo a img {
    width: 400px;
}

.box img {
    width:100%;
}